<% if @study_genres.present? %>
  <% @study_genres.limit(3).each do |genre| %>
    <% if genre.study_logs.any? %>
      <div class="bg-blue-50 p-4 rounded-md shadow-md mb-4 md:max-w-md mx-auto">
        <%= link_to genre.display_name, study_genre_path(genre), class: "text-green-600 hover:text-green-600 hover:underline font-semibold" %>
        <%= t('study_genres.labels.has_study_logs') %>

        <p class="text-blue-600 mt-1"><%= t('study_genres.labels.already_set') %></p>
        <p class="text-yellow-600 mt-1"><%= t('study_genres.labels.post_count', count: genre.study_logs.count) %></p>
        <p class="text-yellow-300 mt-1"><%= t('study_genres.labels.continuous_days', days: genre.continuous_days) %></p>

        <%= form_with model: genre, url: study_genre_path(genre), method: :patch, class: "mt-4" do |f| %>
          <div class="mb-4">
            <%= f.label :name, t('study_genres.forms.edit_label'), class: "block text-blue-600 mb-2" %>
            <%= f.select :name, options_for_select(StudyGenre::GENRES.to_a, selected: genre.name), class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
          </div>

          <div class="mt-4">
            <%= f.submit t('study_genres.forms.update_button'), class: "px-6 py-2 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="bg-gray-50 p-4 rounded-md shadow-md mb-4 md:max-w-md mx-auto">
        <%= link_to genre.display_name, study_genre_path(genre), class: "text-green-600 hover:underline" %>
        <%= t('study_genres.labels.no_study_logs_yet') %>

        <div class="mt-3 space-x-4">
          <%= link_to t('study_genres.links.post_study_log'), new_study_log_path(genre_id: genre.id), local: true, class: "text-green-600 hover:underline font-semibold" %>
        </div>

        <h4 class="text-lg font-semibold text-blue-600 mt-4"><%= t('study_genres.labels.edit_genre') %></h4>

        <%= form_with model: genre, url: study_genre_path(genre), method: :patch, class: "mt-4" do |f| %>
          <div class="mb-4">
            <%= f.label :name, t('study_genres.forms.select_label'), class: "block text-blue-700 mb-2" %>
            <%= f.select :name, options_for_select(StudyGenre::GENRES.to_a, selected: genre.name), class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-400" %>
          </div>

          <div class="mt-4">
            <%= f.submit t('study_genres.forms.update_button'), class: "px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @study_genres.blank? %>
  <div class="bg-green-50 p-4 rounded-md shadow-md mt-6 md:max-w-md mx-auto">
    <h3 class="text-xl font-semibold text-green-600"><%= t('study_genres.labels.add_new_genre') %></h3>

    <%= form_with model: StudyGenre.new, url: study_genres_path, class: "mt-4" do |f| %>
      <div class="mb-4">
        <%= f.label :name, t('study_genres.forms.select_label'), class: "block text-green-700" %>
        <%= f.select :name, options_for_select(StudyGenre::GENRES.to_a), class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-400" %>
      </div>

      <div class="mt-4">
        <%= f.submit t('study_genres.forms.set_button'), class: "px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600" %>
      </div>
    <% end %>
  </div>
<% elsif @study_genres.count < 3 && @has_21_days_of_logs %>
  <div class="bg-green-50 p-4 rounded-md shadow-md mt-6 md:max-w-md mx-auto">
    <h3 class="text-xl font-semibold text-green-500"><%= t('study_genres.labels.add_new_genre') %></h3>

    <%= form_with model: StudyGenre.new, url: study_genres_path, class: "mt-4" do |f| %>
      <div class="mb-4">
        <%= f.label :name, t('study_genres.forms.select_label'), class: "block text-green-600" %>
        <%= f.select :name, options_for_select(StudyGenre::GENRES.to_a), class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-400" %>
      </div>

      <div class="mt-4">
        <%= f.submit t('study_genres.forms.set_button'), class: "px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600" %>
      </div>
    <% end %>
  </div>
<% end %>
