<div class="container mx-auto p-4 md:p-8">
  <% if @suggests.any? %>
    <h2 class="text-3xl font-semibold mb-6 text-center flex items-center justify-center text-primary">
      <%= image_tag 'ai_suggests.png', alt: "AI", class: "w-12 h-12 mr-4" %>
      <span>過去の提案</span>
    </h2>
  <% end %>

  <% if @suggests.any? %>
    <% @suggests.each do |suggest| %>
      <%= link_to suggest_path(suggest), class: "card bg-white shadow-lg mb-6 p-6 rounded-xl block hover:shadow-xl transition-shadow duration-300 border-t-4 border-accent" do %>
        <div class="flex items-center space-x-6">
          <!-- ユーザーアイコン -->
          <% if suggest.user.profile_image.present? %>
            <%= image_tag(suggest.user.profile_image.url, alt: suggest.user.name, class: "w-14 h-14 rounded-full object-cover") %>
          <% else %>
            <%= image_tag("default_study_logs_image.png", alt: suggest.user.name, class: "w-14 h-14 rounded-full object-cover") %>
          <% end %>

          <!-- 相談内容 -->
          <div>
            <h3 class="font-bold text-xl text-primary"><%= suggest.input %></h3>
            <p class="mt-2 text-gray-600 text-sm"><%= truncate(suggest.response, length: 120) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="bg-white shadow-lg rounded-xl p-6 text-center">
      <p class="text-gray-600 text-lg">
        まだAIからのアドバイスがありません。<br>
        <%= link_to "AIに相談する", new_suggest_path, class: "text-accent underline font-semibold" %>から始めましょう！
      </p>
    </div>
  <% end %>


  <div class="flex justify-center mt-10">
    <%= link_to "AIに相談する", new_suggest_path, class: "btn btn-primary text-base-100 w-full md:w-auto shadow-lg hover:shadow-xl transition-all py-3 px-8 rounded-xl" %>
  </div>
</div>

