<div class="flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-6 p-6 mt-auto bg-green-600 sticky bottom-0 text-center">
  <p class="text-white"><%= t('footer.copyright', year: Time.now.year) %></p>

  <%= link_to t('footer.terms'), terms_path, class: "text-white hover:underline" %>
  <%= link_to t('footer.privacy_policy'), privacy_path, class: "text-white hover:underline" %>
  <%= link_to t('footer.contact'), form_path, class: "text-white hover:underline" %>

  <!-- GitHubアイコン付きリンク -->
  <%= link_to 'https://github.com/RyoTanaka19', class: "text-white hover:underline flex items-center space-x-2" do %>
    <i class="fab fa-github"></i>
    <span><%= t('footer.github') %></span>
  <% end %>
</div>
