<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <%= form_with(model: @study_log, url: @study_log.new_record? ? study_genre_study_logs_path(@study_genre) : study_genre_study_log_path(@study_genre, @study_log), method: @study_log.new_record? ? :post : :patch) do |f| %>
    <div class="max-w-4xl w-full bg-white p-6 rounded-md shadow-lg">
      <!-- エラーメッセージ -->
      <%= render 'shared/error_messages', object: f.object %>

      <!-- 学習ジャンル -->
      <div class="mb-4">
        <%= f.label :study_genre_id, "学習ジャンル", class: "block text-sm font-medium text-gray-700" %>
         <%= f.hidden_field :study_reminder_id, value: @study_reminder&.id %>
        <%= f.select :study_genre_id, 
          options_for_select(
            StudyGenre.where(user_id: current_user.id).pluck(:name, :id), 
            selected: @study_log.study_genre_id
          ), 
          { include_blank: "ジャンルを選択" }, 
          class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" 
        %>
      </div>

      <!-- 学習内容 -->
      <div class="mb-4">
        <%= f.label :content, "学習内容:", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :content, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" %>
      </div>

      <!-- 画像 -->
      <div class="mb-4">
      <%= f.label :image, "画像:", class: "block text-sm font-medium text-gray-700" %>
      <%= f.file_field :image, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500", onchange: 'previewImage()', accept: 'image/*' %>
      <%= image_tag(@study_log.image? ? @study_log.image_url : "default_study_logs_image.png", width: 300, height: 200, class: "mt-2 rounded-circle mt-3", id: "preview") %>
      <%= f.hidden_field :image_cache %>
    </div>
    
    <script>
      function previewImage() {
        const fileInput = document.querySelector('input[type="file"][name="study_log[image]"]');
        const preview = document.getElementById('preview');
    
        const file = fileInput.files[0];
        const reader = new FileReader();
    
        reader.onloadend = function () {
          preview.src = reader.result;
        };
    
        if (file) {
          reader.readAsDataURL(file);
        }
      }
    </script>

      <!-- 感想 -->
      <div class="mb-4">
        <%= f.label :text, "感想など:", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_area :text, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>

      <!-- 日付 -->
      <div class="form-group mb-4">
        <%= f.label :date, "日付", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :date, value: Date.today.to_s, readonly: true, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm" %>
      </div>

      <!-- 送信ボタン -->
      <div class="mt-6">
        <%= f.submit @study_log.new_record? ? "投稿" : "更新", class: "w-full py-2 px-4 bg-blue-500 text-white rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    </div>
  <% end %>
</div>

