<%= form_with(model: study_log, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :content, "学習内容:" %>
    <%= form.text_field :content,required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :hour, "勉強時間:" %>
    <%= form.number_field :hour, required: true, min: 1, max: 12, class: "form-control" %>
  </div>

  <div class="mb-3">
    <p>
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control", accept: 'image/*' %>
      <%= image_tag(study_log.image? ? study_log.image_url : "default_study_logs_image.png", width: "300", height: "200") %>
      <%= form.hidden_field :image_cache %>
    </p>
  </div>

  <div class="mb-3">
    <%= form.label :text, "感想など:" %>
    <%= form.text_area :text, required: true, class: "form-control" %>
  </div>

  <%= form.submit nil ,class: 'btn btn-primary'%>
<% end %>
<br>
