<div class="flex justify-center py-10 px-4">
  <%= search_form_for @q, url: study_logs_path, method: :get, 
      html: {
        data: { controller: "autocomplete", autocomplete_url_value: autocomplete_study_logs_path },
        class: "w-full max-w-4xl"
      } do |form| %>

    <div>
      
      <!-- フィールド部分 -->
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        
        <!-- ジャンル選択 -->
        <div class="mt-4">
        <%= form.label :study_genre_name_eq, 'ジャンルを選択', class: 'block text-sm font-medium text-gray-700 mb-2' %>
        <%= form.select :study_genre_name_eq,
          options_for_select(StudyGenre::GENRES.map { |genre| [genre, genre] }, params.dig(:q, :study_genre_name_eq)),
          { include_blank: 'すべて' },
          class: 'w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-400',
          data: {
            action: 'change->autocomplete#resetSearch',
            autocomplete_target: 'genre'
          }
        %>
      </div>

        <!-- キーワード検索 -->
        <div class="mt-4">
          <%= form.label :content_cont, 'キーワードで検索', class: 'block text-sm font-medium text-gray-700 mb-2' %>
          <%= form.search_field :content_cont,
            class: 'w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-400',
            placeholder: '例: Ruby, 勉強会, SQL',
            data: {
              action: "input->autocomplete#search",
              autocomplete_target: "input"
            } %>
        </div>

        <!-- 検索ボタン -->
        <div class="mt-4">
          <%= form.submit '🔍 検索',
            class: 'sm:w-auto h- bg-blue-600 text-white font-semibold py-3 px-4 rounded-md hover:bg-blue-700 transition duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        </div>
      </div>

      <!-- オートコンプリート -->
      <ul data-autocomplete-target="results" 
          class="mt-2 max-h-60 overflow-auto text-sm text-gray-700 divide-y divide-gray-200 border border-gray-200 rounded-md bg-gray-50">
      </ul>

      <!-- 検索結果表示 -->
      <div class="text-center mt-4">
        <% if @study_logs.any? %>
          <p class="text-green-600 font-semibold">検索結果: <%= @study_logs.count %> 件</p>
        <% else %>
          <p class="text-red-500 font-semibold">検索結果がありません</p>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
