<h1><font size= "7">投稿編集画面</font></h1>
<br>
<%= form_with(model: @study_log) do |form| %>
  <div class="mb-3">
    <%= form.label :content, "学習内容:" %>
    <%= form.text_field :content,required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :hour, "勉強時間:" %>
    <%= form.number_field :hour, required: true, min: 1, max: 12, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :text, "感想など:" %>
    <%= form.text_area :text, required: true, class: "form-control" %>
  </div>
<% end %>

<%= link_to "キャンセル", study_logs_path(@study_log), class: "btn btn-warning" %>