<div class="min-h-screen bg-gray-100">
  <div class="flex-1 w-full max-w-3xl p-4 mx-auto bg-white border border-gray-300 rounded-md shadow-sm">
    <h1 class="text-2xl font-bold text-center mb-4">投稿詳細画面</h1>
    <%= render 'shared/error_messages', object: @learning_comment %>

    <div class="mb-4">
      <p>投稿者: <%= @study_log.user&.name || "ユーザー情報なし" %></p>
      <p><strong>投稿日:</strong> <%= @study_log.date %></p>
      <br>
      <p class="text-lg font-semibold">学習内容:</p>
      <p class="border border-gray-300 rounded-md p-2 shadow-sm"><%= @study_log.content %></p>
    </div>

    <div class="mb-4">
      <p class="text-lg font-semibold">画像:</p>
      <div class="border border-gray-300 rounded-md p-2 shadow-sm">
        <%= image_tag(@study_log.image? ? @study_log.image_url : "default_study_logs_image.png", width: "300", height: "200", class: "rounded-md") %>
      </div>
    </div>

    <div class="mb-4">
      <p class="text-lg font-semibold">感想など:</p>
      <p class="border border-gray-300 rounded-md p-2 shadow-sm"><%= @study_log.text %></p>
    </div>

    <p><strong>学習ジャンル:</strong> <%= @study_log.study_genre ? @study_log.study_genre.name : "未選択" %></p>

    <div class="text-gray-600">
      <% if user_signed_in? && @study_log.user == current_user %>
        <% twitter_share_url = "https://twitter.com/share?url=#{CGI.escape(study_log_url(@study_log))}" %>
        <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
          <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
        <% end %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= render 'learning_comments/form', learning_comment: @learning_comment, study_log: @study_log %>
    </div>
    <% if user_signed_in? %>
      <%= render 'study_logs/like_button', study_log: @study_log %>
    <% end %>

    <%= render 'study_logs/like_count', study_log: @study_log %>

    <div class="mt-6">
      <h2 class="text-xl font-semibold text-center mb-4">コメント一覧</h2>
      <div class="border border-gray-300 rounded-md shadow-sm p-4 bg-white">
        <table class="w-full border-collapse border border-gray-300 rounded-md shadow-sm">
        <tbody id="learning_comments-list">
          <%= render @learning_comments %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
