<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-96 bg-white shadow-lg rounded-lg p-6">

    <h1 class="text-xl font-bold text-center mb-4">ログイン画面</h1>

    <div>
      <%= form_with model: @user, url: user_session_path, class: "space-y-4" do |form| %>
        <div>
          <%= form.email_field :email, class: "border rounded-md p-2 w-full", placeholder: "メールアドレス" %>
        </div>

        <div>
          <%= form.password_field :password, class: "border rounded-md p-2 w-full", placeholder: "パスワード" %>
        </div>

        <%= form.submit "ログイン", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded w-full hover:bg-blue-600" %>
      <% end %>

      <a href="#" class="text-sm block my-4 text-gray-500 hover:underline">パスワードを忘れた？</a>

      <p>アカウントを持っていない？</p>
    <%= link_to "サインアップ", new_user_registration_path, class: "text-blue-500 hover:underline" %>
    </div>
  </div>
</div>