<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= action_cable_meta_tag %>
  </head>

  <!-- ✅ bodyタグはこれだけ！ここにdata属性つける -->
  <body data-current-user-id="<%= current_user&.id %>" class="flex flex-col min-h-screen">
    <div data-controller="loading" class="flex flex-col flex-1">
        <!-- ローディングスピナー -->
        <div data-loading-target="spinner" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40 hidden">
        <div class="h-[150px] w-[150px] flex items-center justify-center">
           <span class="loading loading-spinner text-default w-full h-full"></span>
        </div>
     </div>

    <!-- ヘッダー -->
    <%= render 'shared/header' %>

    <!-- フラッシュメッセージ -->
    <%= render 'shared/flash_messages' %>

    <!-- 通知 -->
    <div id="notification-area" style="position: fixed; top: 10px; right: 10px; z-index: 9999;"></div>

    <!-- メインコンテンツ -->
    <main class="flex-1">
      <%= yield %>
    </main>

    <!-- フッター -->
    <%= render 'shared/footer' %>
    </div>
  </body>
</html>
